.header{
    flex-direction: column;
    width: 100%;
}
.header-logo{
    text-align:justify;
    padding: 0px;
    font-size: 14px;
}
.header-list ul{
    margin-right: 0px;
    padding: 0px;
}
.header-list ul li {
    margin: 0px;
    padding: 10px;
    list-style: none;
}
a{
    margin:0px;
    font-size: 14px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
}
.header-content {
    background-color: #131212;
    height:50vw;
    opacity: -10px;
    background-blend-mode: screen;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.sub-content {
    color: white;
    padding: 0px;
    margin: 20px;
    height: 40%;
}
.sub-content p {
    font-size: 40px;
}
.sub-content p{
    font-size: 40px;
    margin-left: -1px;
} 
h3{
    font-size: 40px;
}
span {
    font-size: 38px;
    color: #4361ee;
}
.header-button{
    margin: 25px;
}
.header-button button{
    height: 50px;
    width: 120px;
    margin-left:-24px;
    font-size: 139%;
    font-weight: bolder;
    text-transform: capitalize;
    background-color: red;
    border-radius: 20px;
    border: none;
}
.header-button button:hover{
    background-color:white;
    color:black;
}
.about-content {
    height: 50vw;
    padding: 10px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-img {
    margin: 0px;
    width: 20vw;
    height: 24vw;
}
.about-img img{
    margin: 0px;
    height: 18vw;
    width: 15vw;
    border-radius: 26px;
    box-shadow:2px 2px 2px 2px black;
    border: 2px solid white;
}
.about-img:hover{
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.image-content h1{
    font-variant:small-caps;
    text-transform: uppercase;
    text-decoration:overline;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
 }
 .image-content p{
     font-size: 18px;
     font-variant:normal;
     text-transform: capitalize;
     line-height: 18px;
 }
 .image-content {
     margin:0px;
     height: 20vw;
     width: 70vw;
     text-align:left;
 }
 .download-cv{
    margin: 20px;
}
.download-cv button{
    height: 50px;
    width: 200px;
    margin-left: -30px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 138%;
    background-color: red;
    border-radius: 20px;
    border: none;
}
.download-cv button:hover{
    background-color: black;
    color: white;
}
