 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    background-blend-mode: color;
    font-family:'ubuntu';
}

.header {
    background-color: #aaeefa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-logo {
    font-size: 15px;
    color: #0d0a02;
    padding: 17px;
    margin-left: 60px;
    font-weight: bolder;
}

.header-list {
    margin-right: 95px;
}

.header-list ul {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.header-list ul li {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

a {
    margin:8px;
    font-size: larger;
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
}

a:hover {
    text-decoration: overline;
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    stroke-linecap: round;
}

.header-content {
    background-color: #131212;
    height: 40vw;
    opacity: -10px;
    background-blend-mode: screen;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.sub-content {
    color: white;
    padding: 130px;
    margin: 32px;
    height: 40%;
}
.sub-content p {
    font-size: 40px;
}
.sub-content p{
    font-size: 40px;
    margin-left: -1px;
} 
h3{
    font-size: 30px;
}
span {
    font-size: 50px;
    color: #4361ee;
}
.header-button{
    margin: 42px;
}
.header-button button{
    height: 50px;
    width: 190px;
    margin-left: -43px;
    font-size: 139%;
    font-weight: bolder;
    text-transform: capitalize;
    background-color: red;
    border-radius: 20px;
    border: none;
}
.header-button button:hover{
    background-color:white;
    color:black;
}
.my-imgs{
    margin:60px;
    height: 70%;
    /* border: 2px solid rgb(92, 247, 247); */
    width: 30%;
    margin-right: 100px; 
}
.my-imgs img{
        height: 100%;
        width: 100%;
        border-radius: 15px;
}
.my-imgs img:hover{
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}

.about-content {
    height: 30vw;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about-img {
    margin: 90px;
    width: 20vw;
    height: 20vw;
}
.about-img img{
    margin: 20px;
    height: 18vw;
    width: 15vw;
    border-radius: 26px;
    box-shadow:2px 2px 2px 2px black;
    border: 2px solid white;
}
.about-img:hover{
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.image-content h1{
   font-variant:small-caps;
   text-transform: uppercase;
   text-decoration:overline;
   text-decoration-color: red;
   text-decoration-thickness: 5px;
}
.image-content p{
    font-size: 20px;
    font-variant:normal;
    text-transform: capitalize;
    line-height: 32px;
}
.image-content {
    margin:90px;
    height: 20vw;
    width: 50vw;
    text-align: left;
}
.download-cv{
    margin: 42px;
}
.download-cv button{
    height: 50px;
    width: 200px;
    margin-left: -41px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 138%;
    background-color: red;
    border-radius: 20px;
    border: none;
}
.download-cv button:hover{
    background-color: black;
    color: white;
}
.participation{
    background-color:#a2d2ff;
    height: 38pc;
    align-items: center;
    padding: 25px;
}
.participation h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    text-decoration:overline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
.cards{
    margin-top: 60px;
    /* border: 2px solid black; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content:space-evenly;
    height: 370px;

}
.hack1{
    height: 270px;
    width: 250px;
    margin-bottom: 50px;
    margin-left: -45px;
    border-radius: 12px;
    background-image: url(./hac1.jpg);
    background-size: cover;
    transition: width 3s;
}
.hack1:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.hack3{
    height: 270px;
    width: 250px;
    margin-bottom: 50px;
    border-radius: 12px;
    background-image: url(./hac2_copy.jpg);
    background-size: cover;
    background-position: center;
}
.hack3:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.talent{
    height: 270px;
    width: 250px; 
    margin-bottom: 50px;  
    border-radius: 12px; 
    background-image: url(./talent_copy.jpg);
    background-size: cover;
    background-position: center;
    transition: width 3s; 
}
.talent:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.hack1 h1 {
    font-size: 23px;
    margin-top: -40px;
    margin-left: 0px;
    text-transform:uppercase;
    text-decoration:overline;
    font-size: 20px;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
.hack1 p{
    margin-top: 19pc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.hack3 h1{
    font-size: 23px;
    margin-top: -40px;
    margin-left: 0px;
    text-transform:uppercase;
    text-decoration:overline;
    font-size: 20px;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
.hack3 p{
    margin-top: 19pc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.talent h1{
    font-size: 23px;
    margin-top: -40px;
    margin-left: 0px;  
    text-transform:uppercase;
    text-decoration:overline;
    font-size: 20px;  
    text-decoration-color: red;
    text-decoration-thickness: 3px;   
}
.talent p{
    margin-top: 19pc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.my-skill{
    height: 38vw;
    padding: 15px;
    background-color: #ffe5d9;
}
.my-skill_style h1{
    margin-top: 10px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:overline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;  
}
.skill-content{
    margin: 10px;
    /* border: 2px solid black; */
    height:38vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skill-content h1{
    font-size: 14px;
}
.skills{
    margin:50px;
    height:80%;
    width: 50%;
    padding: 0px;
    /* border: 2px solid rgb(23, 21, 15); */
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
   
}
.my-img{
    margin-top:40px;
    height: 70%;
    /* border: 2px solid rgb(9, 10, 10); */
    width: 30%;
    margin-right: 100px; 
}
.my-img img{
        height: 100%;
        width: 100%;
        border-radius: 15px;
}
.my-img img:hover{
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
.c{
    margin:1px 7px;
    width:220px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px;
    background-color:skyblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}
.c h1{
    font-size: 20px;
    text-align: center;
    margin:4px;
    color: rgb(226, 35, 35);
}
.c h2{
    font-size: 20px;
    text-align: center;
    margin:4px;
    color:rgb(225, 35, 35);
}
.c:hover{
    background-color: black;
    color: rgb(243, 42, 42);
}
.educations{
    background-color: #4a4e69;
    height: 34vw;
    padding: 10px;
}
.education-heading h1{
    margin-top: 10px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:overline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;  
}
.education-cards{
    height: 30vw;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    font-size: 50px;
    margin: 5px;
    align-items: center;
    text-align: center;
    color: #a2d2ff;
}
.Graduation{
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 10px;
    border-radius: 17px;
} 
.Graduation h1,h2{
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.Graduation p{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.Graduation:hover{
    background-color: red;
    color: white;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
.Hsc{
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 0px;
    border-radius: 17px;
}
.Hsc h1,h2{
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.Hsc p{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.Hsc:hover{
    background-color: red;
    color: white;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
.ssc{
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    margin-right: 45px;
    border-radius: 17px;
}
.ssc h1,h2{
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.ssc p{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.ssc:hover{
    background-color: red;
    color: white;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
.footer{
    height: 4vw;
    background-color: gray;
}
.footer-heading{
    font-size: 10px;
    text-align: center;
    padding: 10px;
}
.footer-heading h1{
    margin-top: 7px;
}
#btn1{
    border: 2px solid black;
    background-color: #a2d2ff;
    color: black;
    padding: 5px;
    text-decoration: none;
}
